<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ '/style.css' | url }}">
    {% include "partials/head.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | url }}" />
</head>

<body>
    <main tabindex="-1" id="main-content" class="main-body">
        {% include "partials/navbar.html" %}
        {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
</body>

</html>
