{% extends "layouts/base.html" %}

{% if image %}
{% set socialImage = '/img/blog/' | url %}{% set socialImage = socialImage + image %}
{% endif %}

{% block content %}

<article class="container mx-auto px-4 md:px-16 pb-16">
    <a class="text-lg link link-secondary mb-8" href="{{ '/blog' | url }}">Back to more stories</a>
    <div class="hero-content flex-col lg:flex-row lg:gap-36 my-16">
        {% if image %}
        <div class="mask max-w-sm rounded-lg shadow-2xl overflow-hidden">
            <img src="{{ '/img/blog/' | url }}{{ image }}" class="hover:scale-125 transition-all duration-500" />
        </div>
        {% endif %}
        <div>
            <h1 class="text-6xl font-bold title">{{ title }}</h1>
        </div>
    </div>
    {% if human %}
    <div class="alert shadow-lg mb-16">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="stroke-current flex-shrink-0 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>Disclaimer: This post was written by a human</span>
        </div>
    </div>
    {% endif %}
    <div class="[&>h2]:text-4xl [&>h2]:my-6 [&>p]:my-4 [&>p>a]:link [&>p>a]:link-info">
        {{ content | safe }}
    </div>

    {% set previousPost = collections.blog | getPreviousCollectionItem %}
    {% set nextPost = collections.blog | getNextCollectionItem %}

    <div class="btn-group grid grid-cols-2 mt-8">
        {% if previousPost %}
        <a class="btn btn-outline" href="{{ previousPost.url }}" data-direction="backwards" class="link">
            Previous Blog Post: <span class="link"> {{ previousPost.data.title }}</span>
        </a>
        {% endif %}
        {% if nextPost %}

        <a class="btn btn-outline" href="{{ nextPost.url }}" data-direction="forwards" class="link">
            Next Blog Post: <span class="link"> {{ nextPost.data.title }}</span>
        </a>
        {% endif %}
    </div>

</article>
{% endblock %}
