{% extends "layouts/base.html" %}

{% block content %}

<article class="container mx-auto px-4 md:px-16 pb-16">
    <a class="text-lg link link-secondary mb-8" href="{{ '/blog' | url }}">Back to more stories</a>
    <div class="hero-content flex-col lg:flex-row lg:gap-36 my-16">
        {% if image %}
        <div class="mask max-w-sm rounded-lg shadow-2xl overflow-hidden">
            <img src="{{ '/img/blog/' | url }}{{ image }}" class="hover:scale-125 transition-all duration-500" />
        </div>
        {% endif %}
        <div>
            <h1 class="text-6xl font-bold title">{{ title }}</h1>
        </div>
    </div>
    <div class="[&>h2]:text-4xl [&>h2]:my-6 [&>p]:my-4">
        {{ content | safe }}
    </div>

    {% set previousPost = collections.blog | getPreviousCollectionItem %}
    {% set nextPost = collections.blog | getNextCollectionItem %}

    <div class="grid grid-cols-2 gap-3 pt-16">
        {% if previousPost %}
        <div class="text-xl transition ease-in-out delay-150 hover:shadow-lg hover:scale-110 duration-200">
            Previous Blog Post: <a href="{{ previousPost.url }}" class="link link-primary">{{ previousPost.data.title
                }}</a>
        </div>
        {% endif %}
        {% if nextPost %}
        <div class="text-xl transition ease-in-out delay-150 hover:shadow-lg hover:scale-110 duration-200 {% if previousPost %} text-right {% endif %}">
            Next Blog Post: <a href="{{ nextPost.url }}" class="link link-primary">{{ nextPost.data.title }}</a>
        </div>
        {% endif %}
    </div>

</article>
{% endblock %}
