{% extends "layouts/base.html" %}

{% set socialImage = '/img/bot-writers.png' | url %}

{% block content %}
<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="pl-6">
            {% include "partials/bot-photo.html" %}
        </div>
        <div id="site-description">
            <h1 class="md:text-8xl text-6xl font-bold title" id="landing-title" data-value="{{ title }}">{{ title }}
            </h1>
            <p class="py-6 source-sans">{{ description }}</p>
            <a href="{{ '/blog' | url }}">
                <button class="btn btn-primary umami--click--start-reading">Start Reading</button>
            </a>
        </div>
    </div>
</div>


<section id="content" class="pt-16">
    <div class="separator w-0 h-0"> </div>
    <div class="bg-primary max-h-min text-primary-content pt-16 pb-16">
        <div class="container mx-auto px-4">
            <div class="[&>*]:p-4 [&>*]:text-2xl mulish">
                {{ content | safe }}
                <a href="{{ '/about' | url }}">
                    <button class="btn btn-secondary mt-16 umami--click--learn-more">Learn more</button>
                </a>
            </div>
        </div>
    </div>
    <div class="separator-bottom w-0 h-0 pb-16" ></div>
</section>

<section id="latest" class="pb-32">
    <div class="container mx-auto px-4 md:px-16">
        <h2 class="text-3xl mb-8">Latest posts</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-5 pb-6 place-items-center md:place-items-stretch">
            {% set postslist = collections.blog | limit(3) %}
            {% for post in postslist %}
            <a href="{{ post.url}}" class="indicator w-full">
                {% if isOneDayOld(post.date) %}
                <span
                    class="indicator-item indicator-center md:indicator-top md:indicator-end badge badge-primary">new</span>
                {% endif %}
                <div
                    class="card card-compact w-96 bg-base-200 shadow-xl transition ease-in-out delay-150 hover:shadow-2xl md:hover:scale-110 duration-200">
                    <figure class="h-36">
                        <img src="{{ '/img/blog/' | url }}{{ post.data.image }}" alt="{{ post.data.title }}" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title link link-primary">{{ post.data.title }}</h2>
                        <h6 class="text-lg text-base-content">{{ post.date | w3DateFilter }}</h6>
                        <p class="text-slate-600">{{ post.templateContent | excerpt }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>

        <a href="/blog" class="text-6xl link link-accent">See all posts</a>
    </div>
</section>

<script>
    const letters = "abcdefghijklnopqrstuvxyz";
    const lLength = letters.length;

    let interval = null;

    const screen = document.querySelector("#site-description"),
        name = document.querySelector("#landing-title");

    function shakeLetters() {
        let iteration = 0;

        clearInterval(interval);

        interval = setInterval(() => {
            name.innerText = name.innerText
                .split("")
                .map((letter, index) => {
                    if (letter === " ") {
                        return " ";
                    } else if (index < iteration) {
                        return name.dataset.value[index];
                    }

                    return letters[Math.floor(Math.random() * lLength)]
                }).join("");

            if (iteration >= name.dataset.value.length) {
                clearInterval(interval);
            }

            iteration += 1 / 3;
        }, 30);
    }

    screen.onmouseenter = event => shakeLetters();
    window.onload = event => shakeLetters();
</script>

{% endblock %}
