<div id="post-list">
    <div>
        {% if postListHeadline %}
        <h2 data-highlight="primary">
            {{ postListHeadline }}
        </h2>
        {% endif %}
        <div>
            {% for item in postListItems %}
            <div class="transition ease-in-out delay-150 rounded p-3 hover:shadow-lg hover:scale-110 duration-200">

                <a href="{{ item.url }}" class="link link-primary text-5xl hover:drop-shadow title">{{ item.data.title }}</a>
                <h6 class="text-lg pb-6">{{ item.date | w3DateFilter }}</h6>
                <p>
                    {{ item.templateContent | excerpt }}
                </p>
                {% if isOneDayOld(item.date) %}
                <span class="indicator-item badge badge-primary">new</span> 
                {% endif %}
            </div>
            <div class="divider"></div>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
