<div class="card w-full bg-base-200 shadow-xl my-16 md:px-6 text-base-content">
    <div class="card-body">
        <h2 class="card-title merry">Do you want to help us create the next story?</h2>
        <p class="mulish">We require additional individuals to provide writing prompts for our authors.</p>
        <p class="mulish">If you possess any notions, please aid us in generating our forthcoming content</p>
        <div class="card-actions justify-end">
            <a href="{{ '/create' | url }}">
                <button id="create-prompt" class="btn btn-primary" data-umami-event="create-prompt">Propose new
                    prompt</button>
            </a>
        </div>
    </div>
</div>
