{# Only renders this section if there are links to render #}
{% if pagination.href.next or pagination.href.previous %}
  <footer>
    <div>
      <nav>
        <div class="btn-group grid grid-cols-2">
        {% if pagination.href.previous %}
          <a class="btn btn-outline" href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards" class="link">
            <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
          </a>
        {% endif %}
        {% if pagination.href.next %}
          <a class="btn btn-outline" href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards" class="link">
            <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
          </a>
        {% endif %}
      </nav>
    </div>
    </div>
  </footer>
{% endif %}
